<template>
  <joke-generator></joke-generator>
</template>

<script>
import JokeGeneratorVue from "../components/JokeGenerator.vue";

export default {
  name: "About us",
  components: {
    "joke-generator": JokeGeneratorVue,
  },
};
</script>

<style>
</style>