<template>
  <div class="mainDiv">
    <h2>Heads or tails?</h2>
    <br />
    <transition name="fade">
      <h2 v-if="status">{{ placeholder }}</h2>
    </transition>
    <br />
    <h1>{{ result }}</h1>
    <button class="btn" @click="process">TOSS</button>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "Toss",
  data() {
    return {
      result: "Let's See",
      placeholder: "Let's See",
      status: false,
    };
  },

  methods: {
    ...mapActions["process"],
    process() {
      let a = Math.random();
      a < 0.5 ? (this.result = "It's Heads") : (this.result = "It's Tails");
      this.status = !this.status;
    },
  },
};
</script>

<style>
.btn {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.fade-enter-from {
  opacity: 0;
}
.fade-enter-to {
  opacity: 1;
}
.fade-enter-active {
  transition: opacity 1s ease;
}
.fade-leave-from {
  opacity: 1;
}
.fade-leave-to {
  opacity: 0;
}
.fade-leave-active {
  transition: opacity 1s ease;
}
</style>