<template>
  <div class="abc">
    <AddProductVue />
    <Products />
  </div>
</template>

<script>
import AddProductVue from "../components/AddProduct.vue";
import Products from "../components/Products.vue";
export default {
  name: "Store",
  components: {
    Products,
    AddProductVue,
  },
};
</script>

<style>
.abc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
</style>