<template>
  <transition name="notification">
    <div class="toast" v-if="status">
      <p>All The Details Submitted Succesfully...</p>
    </div>
  </transition>
  <div class="outerForm">
    <h2>Add Your Details First</h2>
    <form @submit.prevent="onSubmit">
      <label for="name">Name:&nbsp;&nbsp; </label>
      <input
        type="text"
        id="name"
        placeholder="Anthony Martin"
        v-model="name"
      /><br /><br />
      <label for="date">dob:&nbsp;&nbsp; </label>
      <input type="date" id="date" placeholder="MM-DD-YYYY" v-model="dob" />
      <br /><br />
      <label for="city">city:&nbsp;&nbsp; </label>
      <input type="text" id="city" placeholder="New York" v-model="city" />
      <br /><br />
      <label>Gender:&nbsp;&nbsp; </label>
      <label for="male">Male </label>
      <input type="radio" id="male" v-model="gender" value="Male" />&nbsp;&nbsp;
      <label for="female">Female</label>
      <input
        type="radio"
        v-model="gender"
        value="Female"
        id="female"
      /><br /><br />
      <button type="submit" id="submitbtn">Submit</button>
    </form>
  </div>
  <div>
    <ul>
      <li v-for="userProfile in userProfiles" v-bind:key="userProfile">
        Hello
      </li>
    </ul>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
export default {
  name: "Profile",
  data() {
    return {
      name: "",
      dob: "",
      city: "",
      gender: "",
      status: false,
    };
  },
  computed: {
    ...mapGetters["getUsers"],
    ...mapState["userProfile"],
  },
  methods: {
    onSubmit() {
      this.setUserProfile({
        name: this.name,
        dob: this.dob,
        city: this.city,
        gender: this.gender,
      });
      this.status = true;
      this.setNotificationHide();
    },
    setNotificationHide() {
      setTimeout(() => {
        this.status = false;
      }, 3000);
    },
    ...mapActions(["setUserProfile"]),
  },
};
</script>

<style>
#submitbtn {
  padding: 5px 10px 5px 10px;
  width: 250px;
  margin-top: 10px;
}
.outerForm {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form {
  margin-top: 20px;
  text-align: center;
}
.toast {
  background-color: green;
  color: white;
  padding: 3px;
  width: 400px;
  border-radius: 30px;
  position: absolute;
  text-align: center;
  margin: 0px auto;
  top: 100px;
  left: 37%;
}
.notification-enter-from {
  opacity: 0;
  transform: translateY(-60px);
}
.notification-enter-to {
  opacity: 1;
  transform: translateY(0px);
}
.notification-enter-active {
  transition: all 300ms ease-in;
}
.notification-leave-from {
  opacity: 1;
  transform: translateY(0px);
}
.notification-leave-to {
  opacity: 0;
  transform: translateY(-60px);
}
.notification-leave-active {
  transition: all 300ms ease-in;
}
</style>