<template>
  <div class="addProd">
    <form @submit.prevent="onSubmit">
      <input
        type="text"
        ref="input1"
        v-model="title"
        placeholder="Add Product"
      />

      <input type="text" v-model="price" placeholder="Add Price" />
      <input type="submit" value="submit" />
    </form>
    <br />
    <br />
    <button @click="modalOpen = true">Open Modal</button>
  </div>
  <teleport to="body">
    <transition name="modalTran">
      <div v-if="modalOpen" class="modal">
        <div>
          <h1>I am Modal and I have Just teleported myself to body.</h1>
          <button @click="modalOpen = false">Close</button>
        </div>
      </div>
    </transition>
  </teleport>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "Add Product",
  data() {
    return {
      title: "",
      price: "",
      modalOpen: false,
    };
  },
  methods: {
    ...mapActions(["addProducts"]),
    onSubmit() {
      this.addProducts({
        title: this.title,
        price: this.price,
      });
      this.title = "";
      this.price = "";
    },
    focusInput() {
      this.$refs.input1.focus();
    },
  },
  mounted() {
    this.focusInput();
  },
};
</script>

<style>
.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: auto;
  height: 300px;
  padding: 10px;
}
.modalTran-enter-from {
  opacity: 0;
  transform: scale(0);
}
.modalTran-enter-to {
  opacity: 1;
  transform: scale(1);
}
.modalTran-enter-active {
  transition: all 500ms ease;
}
.modalTran-leave-from {
  opacity: 1;
  transform: scale(1);
}
.modalTran-leave-to {
  opacity: 0;
  transform: scale(0);
}
.modalTran-leave-active {
  transition: all 500ms ease;
}
</style>