<template>
  <div class="footermain">
    <h4>© 2021 Random User. All Rights Reserved.</h4>
  </div>
</template>

<script>
export default {
  name: "Footer",
};
</script>

<style>
.footermain {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}
.h3footer {
  display: block;
}
</style>