<template>
  <div class="header">
    <div>
      <router-link to="/" class="link"><h2>Random User</h2></router-link>
    </div>
    <div>
      <router-link to="/profile"
        ><button
          @click="status = 1"
          :class="[status == 1 ? 'buttonActive' : 'buttonInActive']"
        >
          My Profile
        </button></router-link
      >&nbsp;&nbsp;
      <router-link to="/"
        ><button
          @click="status = 2"
          :class="[status == 2 ? 'buttonActive' : 'buttonInActive']"
        >
          Contact
        </button></router-link
      >&nbsp;&nbsp;
      <router-link to="/prediction"
        ><button
          @click="status = 3"
          :class="[status == 3 ? 'buttonActive' : 'buttonInActive']"
        >
          Prediction App
        </button></router-link
      >&nbsp;&nbsp;
      <router-link to="/product"
        ><button
          @click="status = 4"
          :class="[status == 4 ? 'buttonActive' : 'buttonInActive']"
        >
          Add To Do
        </button></router-link
      >
    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      status: 1,
    };
  },
};
</script>

<style>
.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 2px 20px;
  background-color: rgb(17, 17, 34);
}
.link {
  text-decoration: none;
  color: white;
}
.buttonInActive {
  background-color: rgb(17, 17, 34);
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}
.buttonActive {
  background-color: yellowgreen;
  color: black;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}
</style>