<template>
  <h1>{{ getCurrentJoke.Cjoke }}</h1>
  <input type="text" v-model="jokeInp" /><br />
  <br />
  <button @click="addText">Submit</button>
  <div>
    <h1>
      {{ getCurrentJoke.randomCar
      }}{{ getCurrentJoke?.randomCars.make_and_model }}
    </h1>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "JokeGenerator",
  data() {
    return {
      jokeInp: "",
    };
  },
  computed: {
    ...mapGetters(["getCurrentJoke"]),
  },
  methods: {
    addText() {
      this.getAllJoke(this.jokeInp);
    },
    ...mapActions(["getAllJoke"]),
  },
};
</script>

<style>
</style>