<template>
  <ul class="product-listing">
    <transition-group name="productss">
      <li v-for="product in allProducts" :key="product.id" class="lists">
        {{ product.title }} | {{ product.price }}
        <button @click="deleteProduct(product.id)" :key="product.id">
          Remove
        </button>
      </li>
    </transition-group>
  </ul>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Products",
  methods: {
    ...mapActions(["getProducts", "deleteProduct"]),
  },
  computed: mapGetters(["allProducts"]),
  created() {
    this.getProducts();
  },
};
</script>
<style scoped>
.lists {
  margin: 30px 10px;
}
.productss-enter-from {
  opacity: 0;
  transform: translateY(-20px);
}
.productss-enter-to {
  opacity: 1;
  transform: translateY(0px);
}
.productss-enter-active {
  transition: all 1s ease;
}
.productss-leave-from {
  opacity: 1;
  transform: translateY(0px);
}
.productss-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}
.productss-leave-active {
  transition: all 1s ease;
}
</style>