<template>
  <div class="outerrrDiv">
    <div v-for="user in randomUsers" v-bind:key="user.id" class="outerDiv">
      <div class="imgmain">
        <img v-bind:src="user.picture.large" class="mainImg" alt="Hello" />
      </div>
      <div>
        <h1>
          {{ user.name.title }}. {{ user.name.first }}
          {{ user.name.last }}
        </h1>
        <p>{{ user.email }}</p>
        <button @click="getUser" class="btnMain">Get a Random User</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Random User",
  created() {
    this.getUser();
  },
  computed: mapGetters(["randomUsers"]),
  methods: {
    ...mapActions(["getUser"]),
  },
};
</script>

<style>
.outerrrDiv {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.outerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  width: 30%;
  padding: 20px 0px;
  margin: 20px 0px;
  border: 1px solid lightcoral;
}
.mainImg {
  height: 100px;
  width: 100%;
  border-radius: 50%;
}
.imgmain {
  display: block;
}
.btnMain {
  background: green;
  color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
</style>