<template>
  <header>
    <HeaderVue />
  </header>
  <main class="mainBody">
    <router-view></router-view>
  </main>
  <footer>
    <Footer />
  </footer>
</template>

<script>
import HeaderVue from "./components/Header.vue";
// import AddProductVue from "./components/AddProduct.vue";
// import Products from "./components/Products.vue";
// import RandomUserVue from "./components/RandomUser.vue";
import Footer from "./components/Footer.vue";
// import JokeGeneratorVue from "./components/JokeGenerator.vue";

export default {
  name: "App",
  components: {
    HeaderVue,
    // Products,
    // AddProductVue,
    // JokeGeneratorVue,
    // RandomUserVue,

    Footer,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.mainBody {
  min-height: 80vh;
}
</style>
